* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #d7d7d7;
    text-align: center;
    color: #781919;
}

nav {
    background-color: #781919;
    padding: 5px;

    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    padding-inline: 4rem;

    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #781919;
    background-color: white;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 20px;
}

h2, h3 {
    color: #781919;
}

.profile header{
    text-align: center;
}

.profile img {
    max-width: 200px;
    border-radius: 50%;
}

.featured-image {
    width: 100%;
    max-height: 500px;

    object-fit: cover;
    object-position: center;
}

main {
    display: flex;
    padding: 20px;

    gap: 1.5rem;
}

#content {
    flex: 4;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 20px;
}

aside {
    flex: 2;
}

table th{
    text-align: left;
    padding-right: 15px;
}

footer {
    color: white;
    padding: 20px;
    background-color: #18181B;

    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside{
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
    nav ul{
        justify-content: center;
    }

    main aside{
        align-self: stretch;
    }
}